//--------//
// Mixins //
//--------//

@mixin breakpoint($point) {
    @media all and (min-width: $point) {
        @content;
    }
}

// Flexbox

@mixin display-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex($flex) {
    -webkit-flex: $flex;
    -ms-flex: $flex;
    flex: $flex;
}

@mixin flex-basis($basis) {
    -webkit-flex-basis: $basis;
    -ms-flex-preferred-size: $basis;
    flex-basis: $basis;
}

@mixin flex-grow($grow) {
    -webkit-box-flex: $grow;
    -webkit-flex-grow: $grow;
    -ms-flex-positive: $grow;
    flex-grow: $grow;
}

@mixin flex-wrap($wrap) {
    -webkit-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    flex-wrap: $wrap;
}
