//-----------//
// Variables //
//-----------//

// CSS prefix
$prefix: pz-;

// Sizes for grid system and media queries
$sizes: (
    xs: 0,
    sm: 480px,
    md: 660px,
    lg: 850px,
    xl: 1024px
);

$max-width: 1200px;

$col-num: 12;
$miscellaneous_widths: (
    one-eighth: $col-num / 8,
    three-eighths: $col-num / 8 * 3,
    five-eighths: $col-num / 8 * 5,
    seven-eighths: $col-num / 8 * 7,
    one-fifth: $col-num / 5,
    two-fifths: $col-num / 5 * 2,
    three-fifths: $col-num / 5 * 3,
    four-fifths: $col-num / 5 * 4
);

$col-inner-top-bottom-margin: (
    xs: 10px
);

$col-inner-left-right-margin: (
    xs: 10px
);

$col-inner-padding: (
    xs: 10px,
    md: 15px
);
